// Specific CSS for your home-page
body {
 padding-top: 50px;
 background: rgb(170,186,195);
 background: linear-gradient(0deg, rgba(170,186,195,1) 0%, rgba(100,44,24,1) 50%, rgba(11,6,4,1) 67%);
}

.index-page {
  background: rgb(170,186,195);
  background: linear-gradient(0deg, rgba(170,186,195,1) 0%, rgba(100,44,24,1) 50%, rgba(11,6,4,1) 67%);
}
