// Specific CSS for your home-page

 .index-page {
   background: rgb(170,186,195);
   background: linear-gradient(0deg, rgba(170,186,195,1) 0%, rgba(100,44,24,1) 50%, rgba(11,6,4,1) 67%);
 }

body {
 padding-top: 48px;
 background: linear-gradient(90deg, rgba(14,20,35,1) 0%, rgba(7,51,81,1) 50%, rgba(39,42,53,1) 67%);
  background: linear-gradient(0deg, rgba(170,186,195,1) 0%, rgba(100,44,24,1) 50%, rgba(11,6,4,1) 67%);
}

 .reservation-page {
   background: rgb(14,28,47);
   background: linear-gradient(180deg, rgba(14,28,47,1) 0%, rgba(7,51,81,1) 50%, rgba(170,186,195,1) 100%);
}
