
<div class="footer d-flex flex-column text-center">
  <div class="footer-links mt-5">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fa-brands fa-youtube"></i></a>
    <a href="#"><i class="fa-brands fa-twitch"></i></a>
  </div>

  <div class="footer-copyright text-center">
    © 2022 Air B in Game, Inc.
  </div>

</div>
