
<div class="footer flex-column">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fa-brands fa-youtube"></i></a>
    <a href="#"><i class="fa-brands fa-twitch"></i></a>
    <div class="footer-text">
      <p> © 2022 Air B in Game, Inc.</p>
    </div>
  </div>
</div>
