
<div class="container">
  <div class="row justify-content-center">
    <% @game_worlds.each do |game| %>
      <div class="card-trip m-4">
        <img src="https://res.cloudinary.com/dvbzytnxf/image/upload/v1660599824/hyrule_urn1yb.webp" />
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to game.name, game_world_path(game) %></h2>
            <p><%= game.description %></p>
          </div>
          <%# <h6 class="go-btn"><%= link_to "🎮", game_world_path(game) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
