<div>
<div class="footer d-flex flex-column m-5 text-center">
  <div class="footer-links mt-5">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright text-center">
    Air B in Game <i class="fa-duotone fa-gamepad-modern"></i>
</div>
</div>
