<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/2669014.jpg);">

  <div class="container">
    <h1>Live <strong>in the game worlds</strong> and <strong>explore the future</strong>!</h1>
    <p></p>
    <a class="btn btn-flat" href="/game_worlds">See all Worlds</a>
  </div>
</div>

<%# <%= render '/shared/game_worlds_cards' %>
<div class="container">
  <div class="m-3 text-center">
    <div class="icons-homepage d-flex">
      <div class="icon-homepage">
        <i class="fa-solid fa-gamepad"></i>
        <p>Play where you want !</p>
      </div>
      <div class="icon-homepage">
        <i class="fa-brands fa-d-and-d"></i>
        <p>Some Amazing worlds !</p>
      </div>
      <div class="icon-homepage">
        <i class="fa-solid fa-vr-cardboard"></i>
        <p>Immersive experience !</p>
      </div>
    </div>
  </div>
</div>
