<div class="banner index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvbzytnxf/image/upload/v1660599842/elden_ring_gsrww2.jpg);">
  <div class="container">
    <h2 class="text-center m-5">All Game Worlds</h2>
  </div>
</div>

<%= render '/shared/game_worlds_cards' %>
