<div class="banner index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvbzytnxf/image/upload/v1660685054/device_electronicv2_3_mw3pwl.jpg);">
  <div class="container">
    <h2 class="text-center m-5">All Game Worlds</h2>
  </div>
  <h6 class="slogan text-center m-5">Discover an infinity of pleasure 🎮</h6>
  <p class="text-center filter-btn m-3 btn btn-ghost"><%= link_to "filter by", root_path %></p>
</div>
<%= render '/shared/game_worlds_cards' %>
