<div class="index-page">
    <div class="index-banner">
        <h2 class="text-center">My Game Worlds</h2>
    </div>
  <div class="d-flex justify-content-center">
      <p><%= link_to "+ Add World", new_game_world_path, class: "text-center added-btn m-4 btn btn-ghost" %></p>
  </div>
  <%= render '/shared/game_worlds_cards' %>
</div>
