<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvbzytnxf/image/upload/v1660599824/hyrule_urn1yb.webp);">
  <div class="container">
    <h1 class="text-center"><%= @game_world.name %></h1>
  </div>
</div>


<p><%= @game_world.description %></p>
