.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  justify-content: space-between;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner h2 {
  color: white;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-banner {
  background-image: url(https://res.cloudinary.com/dvbzytnxf/image/upload/v1660788208/IMG_0030_n7z8o6.jpg);
  width: 100vw;
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-banner h2 {
  color: white;
  font-size: 56px;
  font-family: 'Silkscreen', cursive;
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
}

.index-banner h6 {
  font-family: 'Silkscreen', cursive;
}

.reservation-banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 900px;
  width: 100%;
}

.banner-icons {
  height: 200px;
}

.btn-homepage {
  margin-left: 350px;
}
