.btn-ghost {
  display: flex;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  font-weight: bold;
  transition: opacity 0.3s ease;
  display: flex;
  width: 210px;
  justify-content: center;
  left: 50%;
}

.btn-ghost-reservation:hover {
  border: 1px solid #30475E;
  background-color: #30475E;
}

.btn-ghost-reservation {
  display: flex;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  font-weight: bold;
  transition: opacity 0.3s ease;
  display: flex;
  width: 210px;
  justify-content: center;
  left: 50%;
}

.btn-ghost:hover {
  border: 1px solid #D0851D;
  background-color: #D0851D;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-reserve {
  margin-top: 2px;
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: #D0851D;
  width: 180px;
  transition: background 0.3s ease;
}

.added-btn a {
  text-decoration: none;
  color: white;
 }

.btn-go-back {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    padding: 1px 6px;
    border-width: 0.5px;
    border-style: outset;
    border-color: grey;
    border-image: initial;
}

.btn-reservation a {
  color: white;
  text-decoration: none;
}

.btn-reservation a:hover {
  text-decoration: underline;
}
