.btn-ghost {
  display: flex;
  color: #30475E;
  border: 1px solid #30475E;
  font-weight: bold;
  justify-content: center;
  left: 50%;
  font-family: 'Silkscreen', cursive;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.btn-ghost-reservation:hover {
  border: 1px solid #fff;
  background-color: #30475E;
}

.btn-ghost-login:hover {
  border: 1px solid #fff;
  text-decoration: underline;
  background-color: #30475E;
  color: #fff;
}

.btn-ghost-login {
  display: flex;
  color: #fff;
  background-color: rgba($color: #30475E, $alpha: 0.5);
  border: 1px solid #fff;
  border-radius: 50px;
  font-weight: bold;
  transition: opacity 0.3s ease;
  display: flex;
  width: 150px;
  justify-content: center;
  left: 50%;
}

.btn-ghost-reservation {
  display: flex;
  color: #30475E;
  background-color: #30475E;
  border: 1px solid #30475E;
  border-radius: 50px;
  font-weight: bold;
  transition: opacity 0.3s ease;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.btn-ghost:hover {
  border: 1px solid #D0851D;
  background-color: #D0851D;
}

.btn-flat {
  font-family: 'Silkscreen', cursive;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  text-align: center;
  background: #D0851D;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #D0851D;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-reserve {
  margin-top: 2px;
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: #D0851D;
  width: 180px;
  transition: background 0.3s ease;
}

.added-btn a {
  text-decoration: none;
  color: fff;
  background: #D0851D;
  font-family: 'Silkscreen', cursive;
}

.added-btn:hover {
  border: #fff 1px solid;
  color: #fff;
}

.btn-go-back {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    padding: 1px 6px;
    border-width: 0.5px;
    border-style: outset;
    border-color: grey;
    border-image: initial;
}

.btn-reservation a {
  color: white;
  text-decoration: none;
}

.btn-reservation a:hover {
  text-decoration: underline;
}

.btn-manage-reservation {
  margin-bottom: -20px;
}

.status-reservation {
  margin-right: 60px;
  width: 30px;
  padding: 10px;
  color: #fff;
}

.status-reservation p {
  font-size: 16px;
  padding: 8px;
  border-radius: 8px;
}

.update-btn {
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-map-add {
  justify-content: space-around;
}
