.footer {
  display: flex;
  justify-content: space-around;
  bottom: 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid lightgrey;
  background: transparent;
  // background: linear-gradient(90deg, rgba(14,20,35,1) 0%, rgba(7,51,81,1) 50%, rgba(39,42,53,1) 67%);
}
.footer-links a {
  color: #30475E;
  opacity: .5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #D0851D;
}

.footer-text {
  opacity: .5;
  margin-left: 50px;
  margin-top: 15px;
  align-items: center;
  text-align: center;
  color: white;
}
