.footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: calc(100% - var(--scrollbar-gutter,0%));
}
.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  background: #AABBC3;
}
.footer-links a {
  color: white;
  opacity: .5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #30475E;
}

.footer-text {
  opacity: .5;
  margin-left: 50px;
  margin-top: 15px;
  align-items: center;
  text-align: center;
}
