.navbar-lewagon {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  z-index: 200;
  background: linear-gradient(90deg, rgba(14,20,35,1) 0%, rgba(7,51,81,1) 50%, rgba(39,42,53,1) 67%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 180px;
}

.nav-link {
  color: white;
  margin-right: 16px;
}

.nav-link:hover {
  color: #D0851D;
}
