.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 8px;
}

.search-form-control .form-control {
  height: 2.5rem;
  width: 300px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  border-radius: 20px;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
